<h1 class="text-center">Fiche détaillée du super héros</h1>
	
<div class="container">

  <div class="row justify-content-center">

    <div class="card bg-light">

      <ul>
        <li>
          <span class="font-weight-bold mt-3">Nom du héros : </span>{{personnage.nom}}
        </li>
        <li>
          <span class="font-weight-bold">Rôle : </span>{{personnage.role}}
        </li>
        <li>
          <span class="font-weight-bold">Pays d'origine : </span>{{personnage.pays}}
        </li>
      </ul>
    
    </div>

  </div>

  <div class="row justify-content-center">
    <button
      class="btn btn-success mt-3"
      (click)="goToDashboard()"
    >
      Retour à la liste
    </button>
  </div>

</div>
